In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('adult.csv')

In [3]:
# Display the first few rows of the dataset
print(df.head())

   Age          WorkClass   Education     Marital_Status\t  \
0   39          State-gov   Bachelors        Never-married
1   50   Self-emp-not-inc   Bachelors   Married-civ-spouse
2   38            Private     HS-grad             Divorced
3   53            Private        11th   Married-civ-spouse
4   28            Private   Bachelors   Married-civ-spouse

           Occupation    Relationship    Race      Sex  Capital_Gain  \
0        Adm-clerical   Not-in-family   White     Male          2174
1     Exec-managerial         Husband   White     Male             0
2   Handlers-cleaners   Not-in-family   White     Male             0
3   Handlers-cleaners         Husband   Black     Male             0
4      Prof-specialty            Wife   Black   Female             0

   Capital_Loss  Hours_per_week\t Native_Country\t  Income
0             0                40    United-States   <=50K
1             0                13    United-States   <=50K
2             0                40    United-States   <=50K
3             0                40    United-States   <=50K
4             0                40             Cuba   <=50K

In [4]:
# Check the summary statistics of the dataset
print(df.describe())

                Age  Capital_Gain  Capital_Loss  Hours_per_week\t
count  32561.000000  32561.000000  32561.000000      32561.000000
mean      38.581647   1077.648844     87.303830         40.437456
std       13.640433   7385.292085    402.960219         12.347429
min       17.000000      0.000000      0.000000          1.000000
25%       28.000000      0.000000      0.000000         40.000000
50%       37.000000      0.000000      0.000000         40.000000
75%       48.000000      0.000000      0.000000         45.000000
max       90.000000  99999.000000   4356.000000         99.000000

In [5]:
# Check the data types of the columns
print(df.dtypes)

Age                  int64
WorkClass           object
Education           object
Marital_Status\t    object
Occupation          object
Relationship        object
Race                object
Sex                 object
Capital_Gain         int64
Capital_Loss         int64
Hours_per_week\t     int64
Native_Country\t    object
Income              object
dtype: object

In [6]:
# Define a dictionary mapping old column names to new column names
column_names = {
    'WorkClass': 'Work_Class',
    'Marital_Status\t': 'Marital_Status',
    'Hours_per_week\t': 'Hours_per_week',
    'Native_Country\t': 'Native_Country',
}

# Use the rename() function to change the column names
df = df.rename(columns=column_names)

# Loop through each column and print unique values

In [7]:
for column in df.columns:
    unique_values = df[column].unique()
    print(f"Unique values in column '{column}':")
    print(unique_values)
    print()

Unique values in column 'Age':
[39 50 38 53 28 37 49 52 31 42 30 23 32 40 34 25 43 54 35 59 56 19 20 45
 22 48 21 24 57 44 41 29 18 47 46 36 79 27 67 33 76 17 55 61 70 64 71 68
 66 51 58 26 60 90 75 65 77 62 63 80 72 74 69 73 81 78 88 82 83 84 85 86
 87]

Unique values in column 'Work_Class':
[' State-gov' ' Self-emp-not-inc' ' Private' ' Federal-gov' ' Local-gov'
 ' ?' ' Self-emp-inc' ' Without-pay' ' Never-worked']

Unique values in column 'Education':
[' Bachelors' ' HS-grad' ' 11th' ' Masters' ' 9th' ' Some-college'
 ' Assoc-acdm' ' Assoc-voc' ' 7th-8th' ' Doctorate' ' Prof-school'
 ' 5th-6th' ' 10th' ' 1st-4th' ' Preschool' ' 12th']

Unique values in column 'Marital_Status':
[' Never-married' ' Married-civ-spouse' ' Divorced'
 ' Married-spouse-absent' ' Separated' ' Married-AF-spouse' ' Widowed']

Unique values in column 'Occupation':
[' Adm-clerical' ' Exec-managerial' ' Handlers-cleaners' ' Prof-specialty'
 ' Other-service' ' Sales' ' Craft-repair' ' Transport-moving'
 ' Farming-fishing' ' Machine-op-inspct' ' Tech-support' ' ?'
 ' Protective-serv' ' Armed-Forces' ' Priv-house-serv']

Unique values in column 'Relationship':
[' Not-in-family' ' Husband' ' Wife' ' Own-child' ' Unmarried'
 ' Other-relative']

Unique values in column 'Race':
[' White' ' Black' ' Asian-Pac-Islander' ' Amer-Indian-Eskimo' ' Other']

Unique values in column 'Sex':
[' Male' ' Female']

Unique values in column 'Capital_Gain':
[ 2174     0 14084  5178  5013  2407 14344 15024  7688 34095  4064  4386
  7298  1409  3674  1055  3464  2050  2176   594 20051  6849  4101  1111
  8614  3411  2597 25236  4650  9386  2463  3103 10605  2964  3325  2580
  3471  4865 99999  6514  1471  2329  2105  2885 25124 10520  2202  2961
 27828  6767  2228  1506 13550  2635  5556  4787  3781  3137  3818  3942
   914   401  2829  2977  4934  2062  2354  5455 15020  1424  3273 22040
  4416  3908 10566   991  4931  1086  7430  6497   114  7896  2346  3418
  3432  2907  1151  2414  2290 15831 41310  4508  2538  3456  6418  1848
  3887  5721  9562  1455  2036  1831 11678  2936  2993  7443  6360  1797
  1173  4687  6723  2009  6097  2653  1639 18481  7978  2387  5060]

Unique values in column 'Capital_Loss':
[   0 2042 1408 1902 1573 1887 1719 1762 1564 2179 1816 1980 1977 1876
 1340 2206 1741 1485 2339 2415 1380 1721 2051 2377 1669 2352 1672  653
 2392 1504 2001 1590 1651 1628 1848 1740 2002 1579 2258 1602  419 2547
 2174 2205 1726 2444 1138 2238  625  213 1539  880 1668 1092 1594 3004
 2231 1844  810 2824 2559 2057 1974  974 2149 1825 1735 1258 2129 2603
 2282  323 4356 2246 1617 1648 2489 3770 1755 3683 2267 2080 2457  155
 3900 2201 1944 2467 2163 2754 2472 1411]

Unique values in column 'Hours_per_week':
[40 13 16 45 50 80 30 35 60 20 52 44 15 25 38 43 55 48 58 32 70  2 22 56
 41 28 36 24 46 42 12 65  1 10 34 75 98 33 54  8  6 64 19 18 72  5  9 47
 37 21 26 14  4 59  7 99 53 39 62 57 78 90 66 11 49 84  3 17 68 27 85 31
 51 77 63 23 87 88 73 89 97 94 29 96 67 82 86 91 81 76 92 61 74 95]

Unique values in column 'Native_Country':
[' United-States' ' Cuba' ' Jamaica' ' India' ' ?' ' Mexico' ' South'
 ' Puerto-Rico' ' Honduras' ' England' ' Canada' ' Germany' ' Iran'
 ' Philippines' ' Italy' ' Poland' ' Columbia' ' Cambodia' ' Thailand'
 ' Ecuador' ' Laos' ' Taiwan' ' Haiti' ' Portugal' ' Dominican-Republic'
 ' El-Salvador' ' France' ' Guatemala' ' China' ' Japan' ' Yugoslavia'
 ' Peru' ' Outlying-US(Guam-USVI-etc)' ' Scotland' ' Trinadad&Tobago'
 ' Greece' ' Nicaragua' ' Vietnam' ' Hong' ' Ireland' ' Hungary'
 ' Holand-Netherlands']

Unique values in column 'Income':
[' <=50K' ' >50K']

# Remove white spaces and convert values in a specific column to lowercase

In [8]:
df['Work_Class'] = df['Work_Class'].str.strip()
df['Education'] = df['Education'].str.strip()
df['Marital_Status'] = df['Marital_Status'].str.strip()
df['Occupation'] = df['Occupation'].str.strip()
df['Relationship'] = df['Relationship'].str.strip()
df['Race'] = df['Race'].str.strip()
df['Sex'] = df['Sex'].str.strip()
df['Native_Country'] = df['Native_Country'].str.strip()
df['Income'] = df['Income'].str.strip()

# Replace "?" with NaN

In [9]:
df['Work_Class'] = df['Work_Class'].replace('?', pd.NA)
df['Native_Country'] = df['Native_Country'].replace('?', pd.NA)
df['Occupation'] = df['Occupation'].replace('?', pd.NA)

In [10]:
print(df.isna().sum())

Age                  0
Work_Class        1836
Education            0
Marital_Status       0
Occupation        1843
Relationship         0
Race                 0
Sex                  0
Capital_Gain         0
Capital_Loss         0
Hours_per_week       0
Native_Country     583
Income               0
dtype: int64

# Replace missing values in a specific column with "Unknown"

In [11]:
df['Work_Class'] = df['Work_Class'].fillna('Unknown')
df['Native_Country'] = df['Native_Country'].fillna('Unknown')
df['Occupation'] = df['Occupation'].fillna('Unknown')

# Converting the 'Income' column to binary values (1 for <=50K and 0 for >50K)

In [12]:
df['Income'] = df['Income'].map({'<=50K': 1, '>50K': 0})

In [13]:
df.to_csv('cleaned_adult.csv', index=False)

In [14]:
df = pd.read_csv('cleaned_adult.csv')
selected_rows = df.head(1000)
selected_rows.to_csv('cleaned_adult_2.csv', index=False)